{% extends 'base.html.twig' %}

{% block title %}Hello PageAdminController!{% endblock %}

{% block body %}
<div style="display:flex ; flex-direction:column">
    <a href="{{path('new_session')}}">ajouter une session</a>
    <a href="{{path('new_stagiaire')}}">ajouter un stagiaire</a>
    <a href="{{path('new_materiel')}}">Ajouter un Type de materiel</a>
</div>
{% endblock %}
