{% extends 'base.html.twig' %}

{% block title %}Ajouter un formateur{% endblock %}

{% block body %}

    <h1 class="subtitle">Ajouter un Formateur</h1>
    
    {{ form_start(FormAddFormateur, {'attr': {'class': 'form_session'}}) }}
    
        {{form_row(FormAddFormateur.nom)}}
        {{form_row(FormAddFormateur.prenom)}}
       
   
    {{form_end(FormAddFormateur) }}
    

{% endblock %}